
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg2);
    height: auto;
    width: 330px;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px var(--acc);
  }

  .form-title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: var(--ffb);
  }

  .form-sub-text {
    font-weight: 600;
    margin: 5px 0;
  }

  .form-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
    font-family: var(--ffb);
  }

  .form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px var(--spanfront2)!important;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
  }

  .form-create-body{
    width: 450px!important;
  }

  .form-create{
    width: 400px!important;
  }

  .form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px var(--spanfront2);
  }

  .form-btn {
    font-family: var(--ffb);
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: var(--acc2);
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px var(--spanfront2);
  }

  .form-btn:hover {
    opacity: .9;
  }

  .form-link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
  }

  .login-paginate{
    height: 100vh;
  }
  .btn-delete-photo{
    background: var(--acc2);
    color: var(--sec);
    border: solid 1.5px var(--acc);
    box-shadow: 0px 0px 3px 0px #E99F4C;
    border-radius: 50%;
  }

  .form-file{
    padding: 10px 8px;
  }

  @media screen and (max-width: 670px) {
    .form_style{
      width: 290px;
    }

    .form-body{
      width: 330px;
    }

    .form-create-body{
      width: 330px!important;
    }
  
    .form-create{
      width: 290px!important;
    }
  }